<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设备激活码 - 成功</title>
    <link href="../static/favicon.ico" rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row py-5">
        <div class="col-md-5">
            <h2 class="text-success">成功!</h2>
            <p>
                您已成功激活设备.<br/>
                请返回您的设备继续.
            </p>
        </div>
        <div class="col-md-7">
            <img src="/assets/img/devices.png" th:src="@{/assets/img/devices.png}" class="img-responsive" alt="设备">
        </div>
    </div>
</div>
</body>
</html>
