<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwindplus.mgt.server.dal.mapper.power.OrgExtendMapper">
    <sql id="orgExtendAliasField">
        boe.intro
    </sql>

    <sql id="inSql">
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </sql>

    <delete id="deleteByOrgIds">
        delete from org_extend
        where org_id in
        <include refid="inSql"/>
    </delete>

</mapper>
