<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwindplus.mgt.server.dal.mapper.power.UserPositionMapper">
    <sql id="inSql">
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </sql>

    <delete id="deleteByIds">
        delete from user_position
        where id in
        <include refid="inSql"/>
    </delete>

    <delete id="deleteByUserIds">
        delete from user_position
        where user_id in
        <include refid="inSql"/>
    </delete>

    <delete id="deleteByPositionIds">
        delete from user_position
        where position_id in
        <include refid="inSql"/>
    </delete>
</mapper>
