<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwindplus.mgt.infrastructure.persistence.upms.permission.ResourceMapper">

    <resultMap id="resourceBaseExtendMap" type="com.iwindplus.mgt.api.upms.vo.ResourceBaseExtendVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="apiUrls" column="api_urls"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <resultMap id="resourceExtendMap" type="com.iwindplus.mgt.application.query.upms.permission.vo.ResourceExtendVO">
        <id property="id" column="id"/>
        <result property="createdTimestamp" column="created_timestamp"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdId" column="created_id"/>
        <result property="modifiedTimestamp" column="modified_timestamp"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="modifiedId" column="modified_id"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="apiUrls" column="api_urls"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="seq" column="seq"/>
        <result property="buildInFlag" column="build_in_flag"/>
        <result property="menuId" column="menu_id"/>
        <result property="menuCode" column="menu_code"/>
        <result property="menuName" column="menu_name"/>
    </resultMap>

    <sql id="resourcePageAliasField">
        bres.id, bres.created_timestamp, bres.created_by, bres.modified_timestamp, bres.modified_by, bres.version,
        bres.status, bres.code, bres.name, bres.build_in_flag, bres.api_urls, bres.seq
    </sql>

    <sql id="resourceBaseField">
        bres.id, bres.name, bres.code, bres.seq
    </sql>

    <sql id="resourceBaseExtendField">
        bres.id, bres.name, bres.code, bres.seq, bres.api_urls
    </sql>

    <sql id="resourceAliasField">
        bres.id, bres.created_timestamp, bres.created_by, bres.created_id, bres.modified_timestamp, bres.modified_by, bres.modified_id, bres.deleted, bres.version, bres.remark,
        bres.status, bres.code, bres.name, bres.api_urls, bres.seq, bres.build_in_flag, bres.menu_id
    </sql>

    <sql id="apiFilter">
        <if test="path != null and path != ''">
            and JSON_CONTAINS(bres.api_urls, #{path})
        </if>
    </sql>

    <select id="selectListEnabled" resultType="com.iwindplus.mgt.application.query.upms.permission.vo.ResourceBaseCheckedVO">
        select
            <include refid="resourceBaseField"/>
            ,
            <include refid="com.iwindplus.mgt.infrastructure.persistence.upms.permission.MenuMapper.menuBaseAliasField"/>
            , '1' as type
            , 0 as checked
        from `resource` bres
        inner join `menu` bm on bres.menu_id = bm.id and bm.deleted = 0 and bm.status = 1
        where bres.deleted = 0 and bres.status = 1
        order by bm.seq asc, bres.seq asc
    </select>

    <select id="selectListByRoleId" resultType="com.iwindplus.mgt.application.query.upms.permission.vo.ResourceBaseCheckedVO">
        select
            <include refid="resourceBaseField"/>
            ,
            <include refid="com.iwindplus.mgt.infrastructure.persistence.upms.permission.MenuMapper.menuBaseAliasField"/>
            , '1' as type
            , 1 as checked
        from `resource` bres
        inner join `menu` bm on bres.menu_id = bm.id and bm.deleted = 0 and bm.status = 1
        inner join role_resource brr on bres.id = brr.resource_id and brr.deleted = 0
        inner join `role` br on brr.role_id = br.id and br.deleted = 0 and br.status = 1
        inner join `org` bo on br.org_id = bo.id and bo.deleted = 0 and bo.status = 1 and bo.audit_status = 2
        where bres.deleted = 0 and bres.status = 1
        and bo.id = #{orgId}
        and br.id = #{roleId}
        order by bm.seq asc, bres.seq asc
    </select>

    <sql id="selectListCheckedByUserIdOne">
        select
            <include refid="resourceBaseExtendField"/>
        from `resource` bres
        inner join role_resource brr on bres.id = brr.resource_id and brr.deleted = 0
        inner join `role` br on brr.role_id = br.id and br.deleted = 0 and br.status = 1
        inner join `org` bo on br.org_id = bo.id and bo.deleted = 0 and bo.status = 1 and bo.audit_status = 2
        inner join user_role bur on br.id = bur.role_id and bur.deleted = 0
        inner join `user` bu on bur.user_id = bu.id and bu.deleted = 0 and bu.enabled = 1 and bu.locked = 0 and bu.account_expired = 0 and bu.credentials_expired = 0
        where bres.deleted = 0 and bres.status = 1
        and bo.id = #{orgId}
        and bu.id = #{userId}
        <include refid="apiFilter"/>
        order by bres.seq asc
    </sql>

    <sql id="selectListCheckedByUserIdTwo">
        select
            <include refid="resourceBaseExtendField"/>
        from `resource` bres
        inner join role_resource brr on bres.id = brr.resource_id and brr.deleted = 0
        inner join `role` br on brr.role_id = br.id and br.deleted = 0 and br.status = 1
        inner join `org` bo on br.org_id = bo.id and bo.deleted = 0 and bo.status = 1 and bo.audit_status = 2
        inner join user_group_role bugr on br.id = bugr.role_id and bugr.deleted = 0
        inner join user_group bug on bugr.user_group_id = bug.id and bug.deleted = 0 and bug.status = 1
        inner join user_group_user bugu on bug.id = bugu.user_group_id and bugu.deleted = 0
        inner join `user` bu on bugu.user_id = bu.id and bu.deleted = 0 and bu.enabled = 1 and bu.locked = 0 and bu.account_expired = 0 and bu.credentials_expired = 0
        where bres.deleted = 0 and bres.status = 1
        and bo.id = #{orgId}
        and bu.id = #{userId}
        <include refid="apiFilter"/>
        order by bres.seq asc
    </sql>

    <select id="selectListCheckedByUserId" resultMap="resourceBaseExtendMap">
        (
            <include refid="selectListCheckedByUserIdOne"/>
        )
        union
        (
            <include refid="selectListCheckedByUserIdTwo"/>
        )
    </select>

    <select id="selectDetailById" resultMap="resourceExtendMap">
        select
            <include refid="resourceAliasField"/>
            ,
            <include refid="com.iwindplus.mgt.infrastructure.persistence.upms.permission.MenuMapper.menuBaseAliasField"/>
        from `resource` bres
        inner join `menu` bm on bres.menu_id = bm.id and bm.deleted = 0 and bm.status = 1
        where bres.deleted = 0 and bres.id = #{id}
    </select>
</mapper>
