<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>无权限</title>

    <link href="../../static/images/favicon.ico" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link href="../../static/css/login.css" rel="stylesheet" th:href="@{/static/css/login.css}"/>
</head>
<body>
<div class="m-login-bg">
    <div class="m-login">
        <h1>401</h1>
        <h2 class="font-bold">无权限</h2>
        <div class="error-desc">
            抱歉，您无操作权限~
        </div>
    </div>
</div>
</body>
</html>