<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwindplus.mgt.server.dal.mapper.power.RoleResourceMapper">
    <sql id="inSql">
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </sql>

    <delete id="deleteByIds">
        delete from role_resource
        where id in
        <include refid="inSql"/>
    </delete>

    <delete id="deleteByRoleIds">
        delete from role_resource
        where role_id in
        <include refid="inSql"/>
    </delete>

    <delete id="deleteByMenuIds">
        delete from role_resource
        where menu_id in
        <include refid="inSql"/>
    </delete>

    <delete id="deleteByResourceIds">
        delete from role_resource
        where resource_id in
        <include refid="inSql"/>
    </delete>
</mapper>
