<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwindplus.base.async.cmd.dal.mapper.AsyncCmdMapper">
    <sql id="inSql">
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </sql>

    <delete id="deleteDataByIds">
        delete ac, acs
        from async_cmd ac
        left join async_cmd_sub acs on acs.async_cmd_id = ac.id
        where ac.id in
        <include refid="inSql"/>
    </delete>

    <delete id="deleteDataById">
        delete ac, acs
        from async_cmd ac
        left join async_cmd_sub acs on acs.async_cmd_id = ac.id
        where ac.id = #{id}
    </delete>

    <delete id="deleteByBizNumber">
        delete ac, acs
        from async_cmd ac
        left join async_cmd_sub acs on acs.async_cmd_id = ac.id
        where ac.env = #{env} and ac.biz_number = #{bizNumber}
    </delete>
</mapper>
